.logo-fix{
    height: 65px;
    width: 85px;
    vertical-align: bottom;
    margin-right: 0.5rem;
    align-items: center;
    margin-bottom: -30px;
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 10px #39BAF6;
}
.whatsapp-button:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.whatsapp-button img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.no-desktop{
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .no-desktop {
        display: block;
    }
}
@media only screen and (min-width: 820px) and (max-width: 1180px) {
    .no-desktop {
        display: block;
    }
}
.no-mobile{
    display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .no-mobile {
        display: none;
    }
}
@media only screen and (min-width: 820px) and (max-width: 1180px) {
    .no-mobile {
        display: none;
    }
}
.styled-hr {
    border: none;
    height: 2.5px;
    background: linear-gradient(to right, transparent, #39BAF6, transparent);
    box-shadow: 0 1px 3px #39BAF6;
    margin: 20px 0;
}

.cta-btn {
    min-width: 250px;
    min-height: 50px;
    font-family: 'Spline Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    color: black;
    background: black;
    background-image: linear-gradient(to bottom, #99f0f2, #7ce2fc, #72d2ff, #81beff, #a0a7f9);
    border-color: #057efc;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.cta-text{
   
    font-size: 17px;
 
}
#scrollSvg {
    width: 100%;
}

#scrollPath {
    transition: stroke 0.3s ease, opacity 0.3s ease;
    stroke-width: 2px; /* Adjust this value to make the path bolder */
}
svg {
    width: 100%;
    filter: drop-shadow(0 0 10px #39BAF6); /* Adds box shadow to the SVG */
    color: grey;
  }
.fill-two {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	background-size: 150% 150%;
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-two:hover .fill-two {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.list{
    font-family: "Spline Sans";
}
.offer{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(47,128,223,1) 100%);
}
.no-space {
    margin: 0;
    padding: 0;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.moving-border {
    position: relative;
    background: #ffffff;
  }
  .moving-border::before,
  .moving-border::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    border-radius: 12px;
    z-index: -1;
    background-image: linear-gradient(to bottom, #99f0f2, #7ce2fc, #72d2ff, #81beff, #a0a7f9);
    animation: rotate 8s linear infinite;
  }
  .moving-border::after {
    filter: blur(10px);
  }
  .moving-border-two{
    position: relative;
    background: #ffffff;
  }
  .moving-border-two::before,
  .moving-border-two::after{
    content: "";
    position: absolute;
    border: 2.5px solid transparent;
        background: 
          linear-gradient(to top, white, white), 
          linear-gradient(to top, white , #72d2ff); 
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
  }
  @keyframes rotate {
    0%     { --angle: 0deg; }
    100%   { --angle: 360deg;
    }
  }
  /* Add this CSS to your styles */
@media (max-width: 767.98px) {
    .pe-lg-4, .ps-lg-4, .me-lg-n4, .ms-lg-n4, .pe-xl-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .offer {
        flex-direction: column !important;
        text-align: center;
    }
    }
    .blur{
        height:50px;
        width:100%;
        margin:-20px auto;
        z-index:-1;
        position:relative;
        filter: blur(10px); 
        -webkit-filter: blur(10px); 
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: url(#blur);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
        overflow:hidden;
      }
      
      .blur:after{
        content:'';
        height:100%;
        width:100%;
        background:rgba(255,255,255,.25);
        position:absolute;
      }
      .h-100-button {
        height: 70% !important
    }
    .price-tag {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 0px 45px;
        
        box-shadow: 0 2px 10px #72d2ff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start of the container */
        
    }

    .original-price {
        font-size: 25px;
        font-weight: 700;
        font-family: "Spline Sans";
        color: red;
        margin-right: 10px;
        margin-bottom: 0px; /* Add some space between original and discounted price */
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .original-price::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -100%;
        width: 100%;
        height: 2px;
        background-color: red;
        animation: strikethrough 2s linear infinite;
    }

    @keyframes strikethrough {
        0% {
            left: -100%;
        }
        50% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }
    .discounted-price {
        font-weight: 700;
        font-family: "Spline Sans";
        font-size: 35px;
        color: #0f0;
    }
    .text-gradient-primary-price {
        background: linear-gradient(var(--bs-bg-gradient-angle, 319.2deg), RGBA(70, 162, 255, var(--bs-bg-opacity, 1)) 25.45%, RGBA(63, 62, 237, var(--bs-bg-opacity, 1)) 100.14%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        position: relative;
        animation: glow 1.8s infinite;
    }

    @keyframes glow {
        0% {
            text-shadow: 0 0 2px rgba(70, 162, 255, 0.7), 0 0 4px rgba(70, 162, 255, 0.7), 0 0 6px rgba(70, 162, 255, 0.7), 0 0 8px rgba(70, 162, 255, 0.7), 0 0 10px rgba(63, 62, 237, 0.7), 0 0 12px rgba(63, 62, 237, 0.7), 0 0 14px rgba(63, 62, 237, 0.7);
        }
        50% {
            text-shadow: 0 0 4px rgba(70, 162, 255, 0.7), 0 0 8px rgba(70, 162, 255, 0.7), 0 0 12px rgba(70, 162, 255, 0.7), 0 0 16px rgba(70, 162, 255, 0.7), 0 0 20px rgba(63, 62, 237, 0.7), 0 0 24px rgba(63, 62, 237, 0.7), 0 0 28px rgba(63, 62, 237, 0.7);
        }
        100% {
            text-shadow: 0 0 2px rgba(70, 162, 255, 0.7), 0 0 4px rgba(70, 162, 255, 0.7), 0 0 6px rgba(70, 162, 255, 0.7), 0 0 8px rgba(70, 162, 255, 0.7), 0 0 10px rgba(63, 62, 237, 0.7), 0 0 12px rgba(63, 62, 237, 0.7), 0 0 14px rgba(63, 62, 237, 0.7);
        }
    }
    .cta-btn-2 {
        min-width: 100px;
        min-height: 50px;
        font-family: 'Spline Sans', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 700;
        border: 2.5px solid transparent;
        border-radius: 8px;
        box-shadow: 0 2px 10px #72d2ff;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        }
        .cta-btn-text{
            color: black;
          
          }